{% extends 'Proyect/base.html' %}
{% block titulo %}About view{% endblock titulo %}
{% block contenido %}
<h4>Integrante:</h4>
<ul>Luciano Muga</ul>
<ul>Marcelo Trejo</ul>

<ul>Tuvimos la decicion de crear este registro de empleados ya que nos parecio util, secillo y cumple con todos los requisitos que nos pedia la consigna para aprobar el proyecto. El proyecto cuenta con su modelo y su respectivo crud ,alta ,baja y modificacion, cuenta con register con el fin de que puedan crearse mas usuarios en caso de necesitarlo, un login para cuando se comienza a utilizar la aplicacion el usuario ingrese con sus datos particulares y un logout para cuendo se termine de trabajar con ella pueda cerar su sesion, cuenta con un profile update para modificar la informacion sobre el usuario que esta ejerciendo en ese momento y con una ventana sobre detalles mas especificos de cada empleado. Con respecto a django nos parecio un framework super util y que seguramente volveremos a utilizarlo en un futuro.</ul>
<a type="button" class="btn btn-primary" style="border-radius: 30px;" href="{% url "list-empleado"  %}">Volver</a>
{% endblock contenido %}