
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<body class="p-3 mb-2 bg-secondary text-white">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" style="border-radius: 30px;" type="submit">Login</button>
</form>
{% comment %} <a href="{% url 'list-empleado' %}">Salir</a> {% endcomment %}
<body>
<a type="button" class="btn btn-primary" style="border-radius: 30px;" href="{% url "signup-empleado" %}">Registrarse</a>
